<div class="navbar-container d-flex flex-column flex-md-row align-items-center bg-white border-bottom box-shadow">
  <a class="my-0 mr-md-auto" href="/"><h5 class="font-weight-bold">Dashboard.</h5></a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Meteo</a>
  </nav>
  <% if(userName != "") { %>
  	<p><%= userName %></p>
    <a class="btn btn-outline-primary navbar-btn" href="/logout">Logout</a>
  <% }else { %>
  	<a class="btn btn-outline-primary navbar-btn" href="/login">Sign in</a>
  	<a class="btn btn-outline-dark navbar-btn" href="/register">Sign up</a>
  <% } %>
</div>